@font-face {
	font-family: "Myriad Pro";
	src: local("font/latha_0.ttf"),
    	url("font/latha_0.ttf") format("truetype");
}

body {
	padding: 0px;
	margin: 0px;
}

#mainMcqDiv {
	position: relative;
	margin: 0px auto;
	width: 1024px;
	height: 768px;
}

.txt{
	color:black;
	position: absolute;
	top: 18px;
	left: 100px;
}

.lists li
{
	list-style-type: none;
	display: inline-block;
	padding-right:30px;
}

#q1answers
{

}

.answers
{
		position:absolute;
	top:80px;
	left:100px;
}

.nButton
{
	position: absolute;
	top: 463px;
	left: 746px;
	cursor:pointer;
	background-image:url('../img/next.png');
	height:54px;
	width:79px;
}

.nButton-de
{
	position: absolute;
	top: 463px;
	left: 746px;
	cursor:pointer;
	background-image:url('../img/next-de.png');
	height:54px;
	width:79px;
}

.pButton
{
	position: absolute;
	top: 463px;
	left: -100px;
	cursor:pointer;
	background-image:url('../img/prev.png');
	height:54px;
	width:79px;
}

.pButton-de
{
	position: absolute;
	top: 463px;
	left: -100px;
	cursor:pointer;
	background-image:url('../img/prev-de.png');
	height:54px;
	width:79px;
}

.aq1
{
	height:35px;
	width: 35px;
	cursor:pointer;
	background-image:url('../img/radio.png');
}

.aq2
{
	height:35px;
	width: 35px;
	cursor:pointer;
	background-image:url('../img/radio.png');
}

.aq3
{
	height:35px;
	width: 35px;
	cursor:pointer;
	background-image:url('../img/radio.png');
}

.a
{
	height:150px;
	width: 150px;
	background-color:red;
	cursor:pointer;
}
.white
{
	background-image:url('../img/radio-select.png');
}

#ans1
{
	list-style-type: none;
position: absolute;
top: 87px;
left: 100px;
}

#ans2
{
	list-style-type: none;
position: absolute;
top: 237px;
left: 100px;
}

#ans3
{
list-style-type: none;
position: absolute;
top: 387px;
left: 100px;
}

.sign
{

	display:none;
	
}

#q1incor,#q2incor,#q3incor
{
	display:none;
	
}

.leftAnswer
{
	margin-left:40px;
}

.scaleImg
{
	height: 17%;
}

#check
{
	position:absolute;
	background-image:url('../img/checkButton.png');
	height:56px;
	width:111px;
	top:565px;
	left:390px;
	cursor:pointer;
}



#q1cor
{
	display:none;
	position:absolute;
	background-image: url('../img/right.png');	
	height:65px;
	width:57px;
top: 556px;
left: 100px;
}

#q1incor
{
display:none;
top: 556px;
left: 100px;
	position:absolute;
	background-image: url('../img/wrong.png');
	height:65px;
	width:57px;
}

.msg

{
position: absolute;
font-size: 20;
color: maroon;
left: 558px;
top: 577px;
display:none;
}
