<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Books</key>
		<dict>
			<key>Book</key>
			<data>
			C0u4wA7B7WXj3fmV2CuMTGVPv4WnMMGM9AWOTUSZwgo=
			</data>
		</dict>
	</dict>
</dict>
</plist>
