@font-face {
	font-family: "Myriad Pro";
	src: local("font/latha_0.ttf"),
    	url("font/latha_0.ttf") format("truetype");
}


.txt
{
position: absolute;
left: 286px;
top: 86px;
font-size: 25px;
}

body {
	margin: 0px;
}

#main-drag {
	background: url(../../core/img/background.png) no-repeat top center;
	margin: 0 auto;
}
.itm {
	cursor: pointer;
}



#d1 {
	position: absolute;
	top: 575px;
	left: 90px;
}
#d2 {

position: absolute;
top: 560px;
left: 297px;
height: 80px;
width: 80px;
	
}

#d3 {
	position: absolute;
	top: 560px;
	left: 451px;
	height:58px;
	width:55px;
}

#d4 {
	position: absolute;
	top: 552px;
	left: 591px;
	width: 96px;
height: 90px;
}

#d5 {
	position: absolute;
	top: 636px;
	left: 517px;
}
#d6 {

	position: absolute;
	top: 636px;
	left: 630px;
}

#d7 {
	position: absolute;
	top: 636px;
	left: 743px;
}

#d8 {
	position: absolute;
	top: 575px;
	left: 860px;
}

.itm
{

}
.handle {
	/*background: url(../img/handle.png) no-repeat top center;*/
	/*height: 36;
	width: 103;*/
	position: absolute;
}

#e1 {
	background: url(../img/red_s.png) no-repeat top center;
	left: 66px;
	top: 254px;
	
}

#e2 {
	background: url(../img/red_s.png) no-repeat top center;
top: 264px;
left: 100px;
width: 80px;
height: 80px;
}



#e3 {
	background: url(../img/blue_s.png) no-repeat top center;
	left: 215px;
	top: 289px;
	width: 55px;
	height: 58px;
}
#e4 {
	background: url(../img/yellow_s.png) no-repeat top center;
left: 305px;
top: 252px;
width: 96px;
height: 90px;
}

#e5 {
		background: url(../img/red_s.png) no-repeat top center;

top: 345px;
left: 650px;
width: 80px;
height: 80px;
	
}

#e6 {
	background: url(../img/blue_s.png) no-repeat top center;

left: 743;
top: 364px;
width: 55px;
height: 58px;
}

#e7 {
	background: url(../img/yellow_s.png) no-repeat top center;

left: 785px;
top: 296px;
width: 96px;
height: 90px;
}
#e8 {
	background: url(../img/a1.png) no-repeat top center;
	left: 750px;
	top: 439px;
}



#a1
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 132px;
	top: 235px;
}

#a2
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 360px;
	top: 235px;
}

#a3
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 588px;
	top: 235px;

}

#a4
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 816px;
	top: 235px;
}

#a5
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 132px;
	top: 418px;
}

#a6
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 360px;
	top: 418px;
}

#a7
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 588px;
	top: 418px;

}

#a8
{
	position: absolute;
	font-size: 30px;
	color: maroon;
	left: 816px;
	top: 418px;
}


.r,.w
{
	display: none;
	position: absolute;
left: 30px;
}


.btn
{

	position: absolute;
	text-align: center;
	text-decoration: none;
	font-size: 20px;

	
}

#check
{
	position: absolute;
	background: url(../img/checkButton.png) no-repeat top center;
height: 56px;
width: 111px;
left: 776px;
top: 569px;
}

#retry
{
display:none;
	position: absolute;
	background: url(../img/retryButton.png) no-repeat top center;
height: 56px;
width: 111px;
left: 776px;
top: 569px;
}
/*
.btnGroup
{
	display:none;
}*/

.msg
{
	position: absolute;
font-size: 25px;
color: maroon;
display: none;
left: 210px;
top: 541px;
}



#title
{
	background:url(../../core/img/drag-title.png) no-repeat top center;
	position:absolute;
	z-index:900001;
	width: 500px;
	height:80px;
	top:0;
	left:200px;
	
}

#upperBar
{
	height:50px;
	width:1024px;
	background-color:#666666;
}

#bottomBar
{
	position:absolute;
	top:718px;
	height:50px;
	width:1024px;
	background-color:#666666;
}

#moz
{
position: absolute;
background: url(../img/moz-popup.png) no-repeat top center;
height: 593px;
width: 851px;
z-index: 9999;
margin-top: 50px;
margin-left: 85px;
	
}

#moz-game-complete
{

display:none;  
position: absolute;
background: url(../img/moz-popup.png) no-repeat top center;
height: 593px;
width: 851px;
z-index: 9999;
margin-top: 50px;
margin-left: 85px;
	
}
.overlay
{
	width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
background-color: #000;
z-index: 99;
opacity: 0.7;
overflow:none;
}
