<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>MangoStory</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>mangoreader-app-icon-72X72-7.png</string>
		<string>mangoreader-app-icon-144X144.png</string>
		<string>mangoreader-app-icon-114X114.png</string>
		<string>mangoreader-app-icon-57X57.png</string>
		<string>mangoreader-app-icon-76x76.png</string>
		<string>mangoreader-app-icon-120x120.png</string>
		<string>mangoreader-app-icon-152x152.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.mangosense.MangoReader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Open SmartDownloads</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>szYOURAPPID</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>FacebookAppID</key>
	<string>199743376733034</string>
	<key>FacebookDisplayName</key>
	<string>Mangoreader</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
