<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>The Farm Animal</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>mangoreader-app-icon-72X72.png</string>
		<string>mangoreader-app-icon-144X144.png</string>
		<string>mangoreader-app-icon-114X114.png</string>
		<string>mangoreader-app-icon-57X57.png</string>
		<string>mangoreader-app-icon-76X76.png</string>
		<string>mangoreader-app-icon-120X120.png</string>
		<string>mangoreader-app-icon-152X152.png</string>
		<string>mangoreader-app-icon-80X80.png</string>
		<string>mangoreader-app-icon-60X60.png</string>
		<string>mangoreader-app-icon-29X29.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.mangosense.AttackOfTheBullyBug</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Open SmartDownloads</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>szYOURAPPID</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>FacebookAppID</key>
	<string>199743376733034</string>
	<key>FacebookDisplayName</key>
	<string>Mangoreader</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>arial_bold_Italic.ttf</string>
		<string>arial_bold.ttf</string>
		<string>arial_Italic.ttf</string>
		<string>arial.ttf</string>
		<string>comic_bold.ttf</string>
		<string>comic.ttf</string>
		<string>helvetica_bold_italic.ttf</string>
		<string>helvetica_bold.ttf</string>
		<string>helvetica_italic.ttf</string>
		<string>helvetica.ttf</string>
		<string>mono_bold_italic.ttf</string>
		<string>mono_bold.ttf</string>
		<string>mono_italic.ttf</string>
		<string>mono.ttf</string>
		<string>tahoma_bold_italic.ttf</string>
		<string>tahoma_bold.ttf</string>
		<string>tahoma_italic.ttf</string>
		<string>tahoma.ttf</string>
		<string>times_bold_italic.ttf</string>
		<string>times_bold.ttf</string>
		<string>times_italic.ttf</string>
		<string>times.ttf</string>
		<string>verdana_bold_italic.ttf</string>
		<string>verdana_bold.ttf</string>
		<string>verdana_italic.ttf</string>
		<string>verdana.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
