body {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
}



ul#soup-word-list li {
	height: 35px;
	padding-top: 0px;
	margin: 2px 0 0 2px;
	padding-right: 24px;
	padding-bottom: 12px;
	text-align: center;
	background: url(../images/wordtiles.png) no-repeat;
	width: 200px;
	color: white;
	/*text-shadow: 2px 2px 2px #000;*/
}


html{
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

html, div, ul, li, canvas { margin: 0; padding: 0; }

.hide { display: none; }

/*== WordSearch ==*/
#canvas-wrap { position: absolute; top: 0; width: 100%; height: 100%; }
#word-search { z-index: 0; position: relative; padding: 0; top: 0; margin-top: 133px;margin-left: 120px;}

canvas { border: 0px solid black; cursor: pointer; position: absolute; top: 0; left: 0; }
canvas#grid { z-index: 10; }
canvas#lines { z-index: 1; }
canvas#layer { z-index: 200; }

/* word list */
ul#soup-word-list {
    height: 580px;
    border: 0px solid black;
    background: transperant;
    position: absolute;
    top: 9px;
    right: 0;
    z-index: 500;
    width: 210px;
    overflow: auto;
    padding: 0 16px;
    list-style-type: none;
    margin-right:-24px;
    vertical-align: middle;
    font-family: "Comic Sans MS";
    font-size: 22px;
    overflow:hidden;
 
}



ul#soup-word-list a {
    text-decoration: none;
    color: #fff;
    padding: 2px;
    font-size: 10px;
    background: #700;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
 
/* icons */
.crossed { background: url(../images/check-icon.png) no-repeat left; padding-left: 1px; text-decoration: line-through;}
.bad-crossed { background: url(../images/bad-icon.png) no-repeat left; padding-left: 20px; }
#word-description { position: absolute; }

/*== Options bar ==*/
ul#game-options {
    z-index: 500;
    top: 0;
    position: absolute;
    padding: 17px 0px;
    width: 100%;
    height: 33px;

}

ul#game-options li { 
    float: left;
    list-style: none;
    line-height: 25px;
}

ul#game-options li b {
    margin-right: 10px;
}

ul#game-options li div.words { width: 110px; }
ul#game-options li div.words select { width: 130px; }

/*== Clock ==*/
#clock {
    width: 70px;
    display: block;
    text-align: center;
    margin-left: 30px;
}

/*== Select ==*/
ul#game-options div.styled-select select {
    outline: none;
    background: transparent;
    border: none;
    width: 120px;
    padding: 5px;
    font-size: 13px;
    height: 28px;
    -webkit-appearance: none;
}

ul#game-options div.styled-select {
    width: 100px;
    height: 28px;
    margin-right: 10px;
    overflow: hidden;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCFA8UGU0K3fQAAAC9SURBVDjL3ZFLSgRBEEQz08+IguBKBRcepLv6SH20og7lDXTcVMZz0y0KM0yjGzEgIQnyE0QYEPZDAGf2dwH4lrmjQ5Iel3ZvZq8RkQt/4+57d+fgYmZeTtOEmX2rUgqLstOmt9Zelg+f1VpD0hNwcfJAZu6+qhjHkcy8lrTbZGDv/bbWyqqi1oqkbZlLciCAu1IKwzAAPBxL5fxAfFfuLuB9nueVe4sINinITJcUq9uA997d/jGA51/s3n8A/ISD9bFHikwAAAAASUVORK5CYII=) right no-repeat #f3f3f3;
    border: 1px solid #333;
}

/*== Share buttons ==*/
#share-twitter, #share-facebook {
    text-indent: -10000px;
    width: 32px;
    height: 32px;
    display: block;
    cursor:pointer;
}

#share-twitter {
    background: url(../images/twitter_32.png) no-repeat;
}

#share-facebook {
    background: url(../images/facebook_32.png) no-repeat;
}

/*== Modal window ==*/
div#overlay {
    background: black;
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    cursor: pointer;
}

div.modal {
    top: 100px;
    left: 50%;
    margin-left: -200px;
    z-index: 1000;
   /* border: 5px solid #000;
    background: #fff;
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
    -o-box-shadow: 0 0 8px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
    padding: 20px;
    position: absolute;
}

div.modal a.close{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #333;
    font-weight: bold;
    text-decoration: none;
    padding: 0 3px;
    color: #000;
    display: block;
}

a.fShare
{
	background: url(../images/share-f.png) no-repeat;
	height:100px;
	width:345px;
	z-index:1005;
	margin-left: 72px;
	margin-top: 14px;
}


div#congrat {
	background: url(../images/popup-bg.png) no-repeat;
	text-align: center;
	height: 250px;
	width: 470px;
}

div#help {
    margin-left: -200px;
    top: 50px;
    width: 400px;
    font-size: 15px;
    background:#fff;
}




div#help li { margin: 10px; }

/*== mobile ==*/
@media screen and (max-width: 800px) {
    #share-facebook, #share-twitter { display: none }
}




a.button1, b.button1 {
    color: #F5F5F5;
    font: bold 12px Helvetica, Arial, sans-serif;
    outline: none;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 gray;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#8c0937),to(#8c0937));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#8c0937),to(#8c0937));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 10px;
    border-style:solid;
	border-width:2px;
	border-color:#fff;
}

a.button1:hover {
    color: #F1F1F1;
    border-color: #fff;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button1:active {
    color: #F1F1F1;
    border-color: #444;
}

a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.middle:hover, a.right:hover { border-left: solid 1px #999 }

a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.help {
    background: url(../images/help.png) 10px 6px no-repeat #1B6D9D;
    padding-left: 30px;
}

a.close-class{
	margin-left: 20px;
	margin-right: 680px;
	display:block;
	background: url(../images/back-button-white.png) no-repeat;
	width: 45px;
	height: 45px;
	
}

a.close-class:hover{
	margin-left: 20px;
	margin-right: 510px;
	display:block;
	background: url(../images/back-button-white.png) no-repeat;
	width: 45px;
	height: 45px;
}
#mb_container 
{
	position: absolute;
	z-index: 900000;
	width: 1024px;
	height: 768px;
}

.back-button2
{
	background:url(back-button.png) no-repeat;
	display:block;
	height:50px;
	width:50px;
	position: relative;
	top: -693px;
	left: 10px;	
}

.back-button2:hover
{
	background:url(back-button-white.png) no-repeat;
	display:block;
	height:50px;
	width:50px;
	position: relative;
	top: -693px;
	left: 10px;	
}
.gButton-container {
	z-index: 99999;
	position: absolute;
	right: 70px;
	
}

.gButton-container a {	
	/*display: block;
	float: left;
	width: 53px;	height: 53px;
	margin-top: 5px;
	z-index: 5;*/
	margin-top:4px;
	display:block;
	background: url('game-draw-sprite.png') no-repeat -1px -1px;
	width: 54px;
	height: 54px;
	float:left;
}

.gButton-container a:hover{
	
/*	background: url(sprites.png) no-repeat;
	background-position: -50px 0;
	width: 50px;
	height: 45px;
	display: block;
	float: left;
	width: 53px;	height: 53px;
	margin-top: 5px;
	z-index: 5;*/
	margin-top:4px;
	display:block;
	float:left;
	background: url('game-draw-sprite.png') no-repeat -1px -62px;
	width: 54px;
	height: 54px;
}

.fShare
{
	background:url('share-f.png') no-repeat;
	width:319px;
	display:block;
}

.sucess_popup_class
{
	display:none;
	width:497px;
	height:300px;
	background:url(popup-bg.png) no-repeat;
	z-index:9999999;
}

.share-button
{
	background:url(share-f.png) no-repeat;
	margin-left: 89px;
	margin-top: 26px;
	display: block;
	height: 57px;
	
}

.popup_text
{
	margin-top:38px;
	margin-left:62px;
	color:#519ea0;
	font-size:21px;
	font-family: Arial, Helvetica, sans-serif;
}


#bg
{
	position:absolute;
	height:510px;
	width:195px;
	background:url(../images/wordtile-bg.png) no-repeat;
	display:block;
}
